<!DOCTYPE html>
<html>

<head>
  <title>Malik Felix | Travel App</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <h1 class="header-title">Travel App</h1>
  </header>
  <div class="main-content">
    <form id="trip-content" class="trip-form">
      <div class="trip-field">
        <label for="form-title">Add Your Trip</label>
        <input id="form-title" type="text" placeholder="Add trip location here">
      </div>
      <div class="trip-field">
        <label for="trip-date">Trip Start Date</label>
        <input id="trip-date" name="trip-date" type="date">
      </div>
      <div class="trip-field">
        <label for="end-date">Trip End Date</label>
        <input id="end-date" name="end-date" type="date">
      </div>
      <button type="submit" class="submit button">Submit</button>
    </form>
    <div class="error"></div>
  </div>
</body>

</html>