<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
  <link rel="shortcut icon" href="#">
</head>

<body>
  <header>
    <div class="">
      Travel App
    </div>
  </header>
  <h1 class="greeting">Welcome to the Travel App!</h1>

  <main>
    <section>
      <form id="myForm" class="">
        <h1>Enter City Name Below!</h1>
        <input id="city_input" type="text" name="input" value="" placeholder="Example: Brooklyn, NY">
        <br />
        <input id="trip-date" type="text" name="trip-start" placeholder="mm/dd/yyyy">
        <span><input id="generate" type="submit" name="" value="Submit"></span>
      </form>
    </section>

    <section id="results">
      <h1 id="results-title">Trip Details | <span class="title-small">Enjoy your stay!</span> </h1>
      <div id="clock">The Countdown Begins</div>
      <div id="clock-result"></div>
      <div id="image"></div>
      <div class="style-result">
        <div class="block-one">
          <div id="latitude"></div>
          <div id="longitude"></div>
          <div id="country"></div>
        </div>
        <div class="block-two">
          <div id="weather"></div>
          <div id="precipitation"></div>
          <div id="forecast"></div>
        </div>
      </div>

    </section>
  </main>
  <footer>
    <p>&copy; 2021 Malik Felix. All Rights Reserved.</p>
  </footer>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>