<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
  <link rel="stylesheet" href="styles/resets.scss">
  <link rel="stylesheet" href="styles/header.scss">
  <link rel="stylesheet" href="styles/base.scss">
  <link rel="stylesheet" href="styles/footer.scss">
</head>

<body>
  <h1>Welcome to the Travel App!</h1>

  <main>
    <div id="clock">The Countdown begins</div>
    <section>
      <div id="myForm" class="" onsubmit="return Client.handleSubmit(event)">
        <h1>Enter City Name below!</h1>
        <input id="city_input" type="text" name="input" value="" placeholder="Example: Brooklyn, NY">
        <br />
        <input id="trip-date" type="text" name="trip-start" placeholder="mm/dd/yyyy">
        <span><input id="generate" type="submit" name="" value="Submit"
            onclick="return Client.handleSubmit(event)"></span>
      </div>
      <!-- <br>
      <div id="time">
        <input id="trip-date" type="text" name="trip-start" placeholder="mm/dd/yyyy">
        <input id="time-submit" type="submit" value="Submit">
      </div> -->
    </section>

    <section id="results">
      <div id="latitude"></div>
      <div id="longitude"></div>
      <div id="country"></div>
      <div id="weather"></div>
      <div id="image"></div>
    </section>
  </main>
</body>

</html>